<div class="home-container">
  <!-- <md-content>-->
  <!-- <md-toolbar>-->
  <div class="md-toolbar-tools home-toolbar">
    <div layout="row" layout-xs="column" class="flex-width">
      <!--<md-button class="navigation-top" aria-label="Go Back">
        <a href="">My Account</a>
      </md-button>
      <md-button class="navigation-top" aria-label="My Wishlist">
        <a href="">My Wishlist</a>
      </md-button>
      <md-button class="navigation-top" aria-label="Blog">
        <a href="">Blog</a>
      </md-button>
      <md-button class="navigation-top" aria-label="Checkout">
        <a href="">Checkout</a>
      </md-button>
      <md-button class="navigation-top" aria-label="Log In">
        <a href="">Log In</a>
      </md-button>-->
      <ul class="navigation-top visible-md-*">
        <li class="navigation-tab"><a href="">My Account</a></li>
        <li class="navigation-tab"><a href="">My Wishlist</a></li>
        <li class="navigation-tab"><a href="">Blog</a></li>
        <li class="navigation-tab"><a href="">Checkout</a></li>
      </ul>
      <div class="language-currency">
        <div class="drop-label">Your Language:</div>
        <div class="lang-drop">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle ishop-button" type="button" id="dropdownMenu1"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
              English
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Hindi</a></li>
              <li><a href="#">German</a></li>
              <li><a href="#">Spanish</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Portugese</a></li>
            </ul>
          </div>
        </div>
        <div class="drop-label">Currency:</div>
        <div class="lang-drop">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle ishop-button" type="button" id="dropdownMenu1"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
              USD
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#"></a></li>
              <li><a href="#">German</a></li>
              <li><a href="#">Spanish</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Portugese</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--</md-toolbar>-->
  <div class="top-header">
      <div class="one-div">
      <span class="logo-class ">
        <img
          src="/app/images/logo.png"
          alt="logo">
      </span>
    <span class="fav-heading" ng-click="openWish()"><i class="fa fa-heart-o shop-fav-logo"></i></i>MY WISHLIST</span>
    <span class="cart-heading" ng-click="openPopup()"><i class="fa fa-shopping-cart shop-cart-logo"></i>MY CART</span>
    <!--<button uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">Popover With Template</button>-->
      <span class="currency-drop">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle ishop-button" type="button" id="dropdownMenu1"
                  data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            Items
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-repeat="items in newProduct">
            <li><a href="#">{{items.name}}</a></li>
          </ul>
        </div>
      </span>
      </div>

    <div class="header-navigation">
      <nav class="navbar navbar-inverse navigation-second">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="dropdown navigation-second-tab"><a class="dropdown-toggle navigation-second-tab"
                                                          data-toggle="dropdown" href="#">MOTHERBOARDS<span
              class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
            <li><a class="navigation-second-tab" href="#">GRAPHICS CARD</a></li>
            <li><a class="navigation-second-tab" href="#">FANS AND COOLING</a></li>
            <li><a class="navigation-second-tab" href="#">POWER SUPPLIES</a></li>
            <li><a class="navigation-second-tab" href="#">DATA STORAGE</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- </md-content>-->
  <div class="coursel-container">
    <div class="image-carousel">
      <div><img class="image"
                src="/app/images/slide1.jpg"
                alt=""></div>
      <div><img class="image"
                src="/app/images/slide2.jpg"
                alt=""></div>
    </div>
  </div>
  <nav class="navbar subtype-nav">
    <div class="category-shopping container-fluid ">
      <ul class="nav navbar-nav shopping-item row">
        <li class="left-padding-class col-sm-2 col-xs-12 col-md-3">
          <img
            src="/app/images/showcase-4.jpg"
            alt="">

          <h3>LAPTOP</h3>

          <div class="item-des">Laptops are made for computing on the go. Perfect for everything from typing up
            documents to gaming.
          </div>
          <a class="shop-now" href="">SHOP NOW!</a>
        </li>
        <li class="left-padding-class col-sm-2 col-xs-12 col-md-3">
          <img
            src="/app/images/showcase-1.jpg"
            alt="">

          <h3>TABLETS</h3>

          <div class="item-des">Tablets give you access to everything that’s important to you and come in a wide range
            of screen sizes.
          </div>
          <a class="shop-now" href="">SHOP NOW!</a>
        </li>
        <li class="left-padding-class col-sm-2 col-xs-12 col-md-3">
          <img
            src="/app/images/showcase-2.jpg"
            alt="">

          <h3>2-IN-1's</h3>

          <div class="item-des">2 in 1s combine the functionality and performance of a laptop with the portability and
            touch control of a tablet.
          </div>
          <a class="shop-now" href="">SHOP NOW!</a>
        </li>
        <li class="left-padding-class col-sm-2 col-xs-12 col-md-3">
          <img
            src="/app/images/showcase-3.jpg"
            alt="">

          <h3>DESKTOPS</h3>

          <div class="item-des">Desktop PCs are capable of everything from college work and social networking to
            professional graphic design and more.
          </div>
          <a class="shop-now" href="">SHOP NOW!</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="offer-carousel-container">
    <div class="offer-carousel-heading">
      NEW PRODUCTS
    </div>
    <!--<div class="offer-carousel row" ng-repeat="data in newProduct">
      <div class="product-listing col-sm-4 col-xs-12 ">
        <a href=""><img ng-src="{{data.img}}" alt="">
        <span class="cost">{{data.cost}}</span><br>
        <span class="prod-name">"{{data.prodname}}</span>
          <span class="buy-icons"><i class="fa fa-shopping-cart shop-icon" ng-click="addToCart(data)"></i><i class="fa fa-heart-o shop-icon" ng-click="addToWish(data)"></i><i class="fa fa-sort-amount-desc shop-icon"></i></span></a>
      </div>
      &lt;!&ndash;<div class="product-listing col-sm-4 col-xs-12 ">
        <a href=""><img src="/app/images/image2.png" alt="">
        <span class="cost">155$</span><br>
        <span class="prod-name">EGA 500W Power Supply</span>
          <span class="buy-icons"><i class="fa fa-shopping-cart shop-icon"></i><i class="fa fa-heart-o shop-icon"></i><i class="fa fa-sort-amount-desc shop-icon"></i></span></a>
      </div>
      <div class="product-listing col-sm-4 col-xs-12 ">
        <a href=""><img src="/app/images/image3.png" alt="">
        <span class="cost">500$</span><br>
        <span class="prod-name">EVGA GeForce GTX 4GB</span>
          <span class="buy-icons"><i class="fa fa-shopping-cart shop-icon"></i><i class="fa fa-heart-o shop-icon"></i><i class="fa fa-sort-amount-desc shop-icon"></i></span></a>
      </div>
      <div class="product-listing col-sm-4 col-xs-12 ">
        <a href=""><img src="/app/images/image4.png" alt="">
        <span class="cost">1000$</span><br>
        <span class="prod-name">NetForce Nvidia Graphics Card</span>
          <span class="buy-icons"><i class="fa fa-shopping-cart shop-icon"></i><i class="fa fa-heart-o shop-icon"></i><i class="fa fa-sort-amount-desc shop-icon"></i></span></a>
      </div>
      <div class="product-listing col-sm-4 col-xs-12 ">
        <a href=""><img src="/app/images/image5.png" alt="">
        <span class="cost">1000$</span><br>
        <span class="prod-name">NetForce Nvidia Graphics Card</span>
          <span class="buy-icons"><i class="fa fa-shopping-cart shop-icon"></i><i class="fa fa-heart-o shop-icon"></i><i class="fa fa-sort-amount-desc shop-icon"></i></span></a>
      </div>&ndash;&gt;
    </div>-->
    <slick class="prod-slick-class" slides-to-show=4 slides-to-scroll=1 init-onload=true data="newProduct"
           responsive="breakpoints">
      <div ng-repeat="data in newProduct">
        <div class="product-listing">
          <a href=""><img class="image-responsive" ng-src="{{data.img}}" alt="">
            <span class="cost">{{data.cost}}</span><br>
            <span class="prod-name">{{data.prodname}}</span>
            <span class="buy-icons"><i class="fa fa-shopping-cart shop-icon" ng-click="addToCart(data)"></i><i
              class="fa fa-heart-o shop-icon" ng-click="addToWish(data)"></i><i
              class="fa fa-sort-amount-desc shop-icon"></i></span></a>
        </div>
      </div>
    </slick>
  </div>
  <div class="image-holder">
    <img class="image-responsive image-width" src="/app/images/picture1.jpg" alt="">
  </div>
  <div class="blog-container">
    <div class="blog-class">
      BLOG
    </div>
    <div class="blog-content">
      <ul class="row">
        <li class="col-sm-4 col-xs-12 blog-list">
          <img class="blog-image"
               src="/app/images/post-3.jpg"
               alt="">

          <h3 class="blog-heading">
            BEST ANDROID TABLETS
          </h3>
          <span class="blog-des">
            No love for the iPad? Check out the best Android tablets we've tested.
          </span>
        </li>
        <li class="col-sm-4 col-xs-12 blog-list">
          <img class="blog-image"
               src="/app/images/post-2.jpg"
               alt="">

          <h3 class="blog-heading">
            TABLET BUYING BASICS
          </h3>
          <span class="blog-des">
            Picking the right tablet can be a daunting task. Here's what you need to know before you buy.
          </span>
        </li>
        <li class="col-sm-4 col-xs-12 blog-list">
          <img class="blog-image"
               src="/app/images/post-1.jpg"
               alt="">

          <h3 class="blog-heading">
            THE TOP 10 LAPTOPS
          </h3>
          <span class="blog-des">
            PCMag tests hundreds of laptops each year. These are the 10 best.
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="offer-container">
    <ul class="row">
      <li class="col-sm-4 col-xs-12 offer-list col-md-4">
        <div class="offer-body">
          <div class="offer-body-text">
            <h2 class="offer-head1">FAST & FREE</h2>

            <h1 class="offer-head2">DELIVERY</h1>
            <span class="offer-text">Free Delivery on orders above $99</span>
          </div>
        </div>
      </li>
      <li class="col-sm-4 col-xs-12 offer-list col-md-4">
        <div class="offer-body">
          <div class="offer-body-text">
            <h2 class="offer-head1">SECURE</h2>

            <h1 class="offer-head2">PAYMENTS</h1>
          <span
            class="offer-text">A real-time global payment solution that enables customers to securely make online.</span>
          </div>
        </div>
      </li>
      <li class="col-sm-4 col-xs-12 offer-list col-md-4">
        <div class="offer-body">
          <div class="offer-body-text">
            <h2 class="offer-head1">100%</h2>

            <h1 class="offer-head2">MONEY BACK GUARANTEE</h1>
          <span class="offer-text">If you’re not 100% satisfied with the results from your listing, request a free reposting or a full refund within
30 days after your listing expires. </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="black-background">
    <div class="footer-container">
      <div class="row">
        <div class="col-md-2 footer-subtype">
          <h4 class="footer-heading">
            INFORMATION
          </h4>
          <ul class="footer-ul">
            <li class="footer-list">
              <a href="">About US</a>
            </li>
            <li class="footer-list">
              <a href="">Customer Service</a>
            </li>
            <li class="footer-list">
              <a href="">Template Settings</a>
            </li>
            <li class="footer-list">
              <a href="">Privacy Policy</a>
            </li>
            <li class="footer-list">
              <a href="">Site Map</a>
            </li>
            <li class="footer-list">
              <a href="">Blog</a>
            </li>
            <li class="footer-list">
              <a href="">Search Terms</a>
            </li>
            <li class="footer-list">
              <a href="">Advanced Search</a>
            </li>
            <li class="footer-list">
              <a href="">Orders and Returns</a>
            </li>
            <li class="footer-list">
              <a href="">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 footer-subtype">
          <h4 class="footer-heading">
            WHY BUY FROM US
          </h4>
          <ul class="footer-ul">
            <li class="footer-list">
              <a href="">Shipping & Returns</a>
            </li>
            <li class="footer-list">
              <a href="">Secure Shopping</a>
            </li>
            <li class="footer-list">
              <a href="">International Shipping</a>
            </li>
            <li class="footer-list">
              <a href="">Affiliates</a>
            </li>
            <li class="footer-list">
              <a href="">Group Sales</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 footer-subtype">
          <h4 class="footer-heading">
            MY ACCOUNT
          </h4>
          <ul class="footer-ul">
            <li class="footer-list">
              <a href="">Sign In</a>
            </li>
            <li class="footer-list">
              <a href="">View Cart</a>
            </li>
            <li class="footer-list">
              <a href="">My Wishlist</a>
            </li>
            <li class="footer-list">
              <a href="">Track My Order</a>
            </li>
            <li class="footer-list">
              <a href="">Help</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-md-offset-2 footer-subtype">
          <h4 class="footer-heading">
            CONTACTS
          </h4>
          <ul class="footer-ul">
            <li class="footer-list">
              <i class="fa fa-map-marker fa-lg icon"></i><a href="">My Company</a>
            </li>
            <li class="footer-list">
              <i class="fa fa-phone fa-lg icon"></i><a href="">800-2345-6789</a>
            </li>
            <li class="footer-list">
              <i class="fa fa-envelope fa-lg icon"></i><a href="">info@demolink.org</a>
            </li>
            <li class="footer-list">
              <i class="fa fa-clock-o fa-lg icon"></i><a href="">7 Days a week</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


